<div class="header header-default pb-8 pt-5 pt-md-8">

</div>
  
<div class="container mt--8 mb-7 p-5">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-12">
                    <h3 class="mb-0">Detalhes do Registro</h3>
                </div>
            </div>
        </div>
        <div class="card-body">

            <p class="mb-4">
                <b>Nome da empresa:</b> {{ company }}
            </p>
            <p class="mb-4">
                <b>Conta do domínio:</b> {{ email }}
            </p>
            <p class="mb-4">
                <b>Conta do serviço:</b> {{ gaccount }}
            </p>
        </div>
    </div>
</div>

