<div class="header header-default pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<div class="container-fluid mt--9">
  <div class="row">
    <div class="col">
      <div class="card bg-secondary shadow mb-4" style="min-height: 400px;">
        <div class="card-header bg-white">
          <div class="row align-items-center">
            <div class="col-6 col-lg-8" (click)="back()" style="cursor: pointer;">
              <h3 class="mb-0"><i class="ni ni-bold-left" style="vertical-align: middle;"></i> Voltar</h3>
            </div>
          </div>
        </div>
        <div class="card-body">

          <form [formGroup]="formClient">
            <h6 class="heading-small text-muted mb-4">Dados do usuário</h6>
            <div class="pl-lg-4 pr-lg-4 mb-3">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="name">Nome</label>
                    <!-- <input type="text" id="input-name" class="form-control is-invalid"
                      placeholder="João da Silva" [(ngModel)]="selected.name"> -->
                    <input type="text" id="input-name" class="form-control form-control-alternative"
                      placeholder="João da Silva" formControlName="name" [(ngModel)]="selected.name"/>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-phone">Celular</label>
                    <input type="text" id="input-phone" class="form-control form-control-alternative"
                      placeholder="+55 (11) 98765 4321" (blur)="blurPhone()" (focus)="focusPhone()" 
                      (keydown)="digitOnly($event)" (keyup)="mask($event)" formControlName="phone" [(ngModel)]="selected.phone" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-7">
                  <div class="form-group">
                    <label class="form-control-label" for="input-product">Produto</label>
                    <input type="text" id="input-product" class="form-control form-control-alternative"
                      placeholder="Windows XP" formControlName="product" [(ngModel)]="selected.product">
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="form-group">
                    <label class="form-control-label" for="input-plan">Descrição do plano
                      <small>(opcional)</small></label>
                    <input type="text" id="input-plan" class="form-control form-control-alternative" placeholder="Premium" 
                    formControlName="plan" [(ngModel)]="selected.plan" />
                  </div>
                </div>
              </div>
            </div>
            <h6 class="heading-small text-muted mb-4">Condições de pagamento</h6>
            <div class="pl-lg-4 pr-lg-4">
              <div class="row">
                <!-- <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-frequency">Periodicidade</label>
                    <select id="input-frequency" class="form-control form-control-alternative">
                      <option value="1">Mensal</option>
                      <option value="2">Quinzenal</option>
                      <option value="3">Semanal</option>
                    </select>
                  </div>
                </div> -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-frequency">Dia da cobrança</label>
                    <select id="input-frequency" class="form-control form-control-alternative" 
                    formControlName="day" [(ngModel)]="selected.day">
                      <option value="7">Todo dia 7</option>
                      <option value="15">Todo dia 15</option>
                      <option value="20">Todo dia 20</option>
                      <option value="30">Todo dia 30</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-type">Tipos aceitos</label>
                    <select id="input-type" class="form-control form-control-alternative" formControlName="type" [(ngModel)]="selected.type">
                      <option value="1">Débito ou Crédito</option>
                      <option value="2">Apenas Crédito</option>
                      <option value="3">Apenas Débito</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8">
                  <div class="form-group">
                    <label class="form-control-label" for="input-frequency">Tipo de cobrança</label>
                    <select id="input-frequency" class="form-control form-control-alternative" formControlName="frequency" [(ngModel)]="selected.frequency">
                      <option value="1">Valor fixo, cobrado mensalmente</option>
                      <option value="2">Valor variável, cobrado mensalmente</option>
                    </select>
                  </div>
                </div>
                <div *ngIf="selected.frequency === '1'" class="col-lg-4">
                  <div class="form-group">s
                    <label class="form-control-label" for="input-value">Valor fixo</label>
                    <input type="text" id="input-value" class="form-control form-control-alternative"
                      placeholder="R$ 0,00" formControlName="val" [(ngModel)]="selected.val" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-frequency">Tempo de contrato</label>
                    <select id="input-frequency" class="form-control form-control-alternative">
                      <option value="1">Indefinido</option>
                      <option value="2">2 anos</option>
                      <option value="3">1 ano</option>
                      <option value="4">6 meses</option>
                    </select>
                  </div>
                </div>
                <!-- <div class="col-lg-8">
                  <div class="form-group">
                    <label class="form-control-label" for="input-frequency">Renovação automática</label>
                    <select id="input-frequency" class="form-control form-control-alternative">
                      <option value="1">Sim, o contrato será renovado automaticamente</option>
                      <option value="2">Não, as condições serão alteradas após vencimento</option>
                    </select>
                  </div>
                </div> -->
              </div>
              <button class="btn btn-icon btn-3 btn-success btn-block mt-3 mb-4" (click)="validate() && save()"
                type="button">
                <span class="btn-inner--icon"><i class="ni ni-check-bold"></i></span>
                <span class="btn-inner--text">Salvar</span>
              </button>
            </div>
          </form>

        </div> <!-- end card body -->
      </div>
    </div>
  </div>
</div>