<div class="header header-default pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<div class="container-fluid mt--9">
  <div class="row">
    <div class="col">
      <div class="card bg-secondary shadow mb-4" style="min-height: 400px;">
        <div class="card-header bg-white">
          <div class="row align-items-center">
            <div class="col-6 col-lg-8" (click)="back()" style="cursor: pointer;">
              <h3 class="mb-0"><i class="ni ni-bold-left" style="vertical-align: middle;"></i> Voltar</h3>
            </div>
          </div>
        </div>
        <div class="card-body">

          <form [formGroup]="formClient" (ngSubmit)="onSubmit()">
            <h6 class="heading-small text-muted mb-4">Dados do usuário</h6>
            <div class="pl-lg-4 pr-lg-4 mb-3">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="name">Nome *</label>
                    <input type="text" class="form-control form-control-alternative"
                      placeholder="João da Silva" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>

                      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">O nome é obrigatório.</div>
                      </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="phone">Celular</label>
                    <input type="text" class="form-control form-control-alternative"
                      placeholder="(11) 98765 4321" (blur)="blurPhone()" (focus)="focusPhone()" 
                      (keydown)="digitOnly($event)" (keyup)="mask($event)" formControlName="phone" [(ngModel)]="phoneMask"/>
                  </div>
                </div>
              </div>
              
              
              <div class="form-group">
                <label class="form-control-label" for="email">Email *</label>
                <input type="email" class="form-control form-control-alternative"
                  placeholder="sistema@exemplo.com" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>

                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">O email é obrigatório.</div>
                  <div *ngIf="f.email.errors.email">Digite um email válido.</div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="password">Senha *</label>
                    <input type="password" id="input-product" class="form-control form-control-alternative"
                     formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>

                     <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">A senha é obrigatória.</div>
                      <div *ngIf="f.password.errors.minlength">A senha deverá ter mais de 6 caracteres.</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirmar Senha *</label>
                    <input type="password" class="form-control form-control-alternative"
                    formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"/>

                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.confirmPassword.errors.required">A senha é obrigatória.</div>
                      <div *ngIf="f.confirmPassword.errors.minlength">A senha deverá ter mais de 6 caracteres.</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-7">
                  <div class="form-group">
                    <label class="form-control-label" for="levelAccess">Nível de acesso *</label>
                    <select class="form-control form-control-alternative" formControlName="levelAccess"
                    [ngClass]="{ 'is-invalid': submitted && f.levelAccess.errors }">
                      <option value="admin">Administrador</option>
                      <option value="student">Estudante</option>
                      <option value="parent">Pais</option>
                      <option value="school">Escola</option>
                    </select>

                    <div *ngIf="submitted && f.levelAccess.errors" class="invalid-feedback">
                      <div *ngIf="f.levelAccess.errors.required">O nível de acesso é obrigatório.</div>
                    </div>
                  </div>
                </div>

                <!-- <div *ngIf="f.levelAccess.value === 'parent' || f.levelAccess.value === 'student'" class="col-lg-5">
                  <div class="form-group">
                    <label class="form-control-label" for="dateBirthday">Data de Nascimento *</label>
                    <input type="date" class="form-control form-control-alternative" 
                    formControlName="dateBirthday" [ngClass]="{ 'is-invalid': submitted && f.dateBirthday.errors }"/>
                  
                    <div *ngIf="submitted && f.dateBirthday.errors" class="invalid-feedback">
                      <div *ngIf="f.dateBirthday.errors.required">A data de aniversário é obrigatória.</div>
                    </div>
                  </div>
                </div> -->
              </div>

              <button class="btn btn-icon btn-3 button-primary btn-block mt-3 mb-4" type="submit">
                <span class="btn-inner--icon">
                  <i *ngIf="!loading" class="ni ni-check-bold"></i>
                  <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-fw"></i>
                </span>
                <span class="btn-inner--text">Salvar</span>
              </button>

            </div>
          </form>

        </div> <!-- end card body -->
      </div>
    </div>
  </div>
</div>