<div class="header header-default pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<div class="container-fluid mt--9">
  <div class="row">
    <div class="col">

      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-6 col-lg-8">
              <h3 class="mb-0 pl-2">Lista de usuários</h3>
            </div>
            <div class="col-6 col-lg-4 text-right">
              <button class="btn btn-icon btn-3 button-primary" (click)="newCustomer()" type="button">
                <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                <span class="btn-inner--text">Adicionar usuário</span>
              </button>
            </div>
          </div>
        </div>
        <div class="table-responsive" style="min-height: 400px;">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="pl-5" style="width:30%">Nome</th>
                <th scope="col" style="width:30%">Email</th>
                <th scope="col" style="width:30%">Nivel de Acesso</th>
                <th scope="col" style="width:10%"></th>
              </tr>
            </thead>
            <tbody>
              <td *ngIf="loading" colspan="2" class="text-right py-5 pr-6">
                <i class="fa fa-spinner fa-pulse fa-fw fa-4x"></i>
              </td>

              <tr *ngFor="let user of users">
                <th scope="row" class="pl-5">
                  {{ user.displayName }}
                </th>
                <td>
                  {{ user.email }}
                </td>
                <td *ngIf="user.customClaims.admin">
                  Administrador
                </td>
                <td *ngIf="user.customClaims.student">
                  Estudante
                </td>
                <td *ngIf="user.customClaims.school">
                  Escola
                </td>
                <td *ngIf="user.customClaims.parent">
                  Pais
                </td>
                <td class="text-right pr-5">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" (click)="open(classic,'' , '')">Apagar usuário</a>
                    </div>
                    <!-- MODAL EXCLUIR CADASTRO -->
                    <ng-template #classic let-c="close" let-d="dismiss">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="modal-title-default">Excluir cadastro</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Você tem certeza que deseja excluir o usuário {{ user.displayName }}? A ação não pode ser desfeita.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn button-primary" (click)="c('Close click')" (click)="deleteUser(user.uid)">Excluir</button>
                          <button type="button" class="btn btn-link ml-auto" data-dismiss="modal" (click)="c('Close click')">Cancelar</button>
                        </div>
                      </div>
                    </ng-template>
                    <!-- FIM MODAL EXCLUIR CADASTRO -->
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="card-footer py-4">
          <nav aria-label="...">
            <!-- <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul> -->
          </nav>
        </div>

      </div>

    </div>
  </div>